<MudGrid Spacing="1" Justify="Justify.Center">
    <MudItem xs="9">
        <div>@MainLeft</div>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Height="700px" Width="100%">
            <div>@BottomRight</div>
        </MudPaper>
    </MudItem>
    <MudItem xs="9">
        <MudPaper Height="188px" Width="100%">
            <div>@BottomLeft</div>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Height="188px" Width="100%"/>
    </MudItem>
</MudGrid>




@code {
    [Parameter]
    public RenderFragment MainLeft { get; set; }

    [Parameter]
    public RenderFragment BottomRight { get; set; }

    [Parameter]
    public RenderFragment BottomLeft { get; set; }
}
